*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
}

html,
body {
	height: 100%;
}

body {
	font-family: 'Inter', sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.3;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	color: inherit;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.container {
	max-width: 1220px;
	margin: 0 auto;
	padding: 0 10px;
}

.section-title {
	text-align: center;
	font-size: 48px;
	font-weight: 700;
	margin-bottom: 50px;
}

/*! Header Start */
.header {
	background-color: #151515;
}
.header-main {
	background-color: transparent;
	position: absolute;
	z-index: 5;
	left: 0;
	right: 0;
}
.header__inner {
	padding: 40px 0 45px;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}
.burger__btn {
	width: 44px;
	height: 30px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 0;
	border: none;
	background-color: transparent;
	cursor: pointer;
	display: none;
}
.burger__btn span {
	border-radius: 6px;
	height: 3px;
	width: 100%;
	background-color: #fff;
}
.menu__list {
	display: flex;
	gap: 35px;
}
.menu__list-link {
	color: #fff;
	text-transform: uppercase;
	font-weight: 700;
}
.menu__list-link--active {
	color: #0066ff;
}
/*! Header Finish */

/*! Main Start */
.main {
	flex-grow: 1;
}
.top {
	position: absolute;
	margin-top: 250px;
	z-index: 3;
	left: 0;
	right: 0;
	text-align: center;
	color: #fff;
}
.title {
	font-size: 96px;
	font-weight: 700;
	margin-bottom: 40px;
}
.top__link {
	display: inline-block;
	background-color: #151515;
	padding: 24px;
	max-width: 430px;
	width: 100%;
	font-size: 36px;
	font-weight: 700;
	text-transform: uppercase;
}
/*--------------------------------------------*/
.swiper-slide {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom;
	height: 100vh;
}
.swiper-slide::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.4);
	z-index: 1;
}
.swiper-pagination {
	margin-bottom: 50px;
}
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
	margin: 0 15px;
}
.swiper-pagination-bullet {
	width: 120px;
	height: 3px;
	border-radius: 0;
	opacity: 0.8;
	margin: 0 15px;
}
.swiper-pagination-bullet-active {
	height: 4px;
	background-color: #fff;
}
/*--------------------------------------------*/
.why-leasing {
	margin-top: 150px;
}
.why-leasing__list {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 40px;
	text-align: center;
}
.why-leasing__item {
	max-width: 270px;
}
.why-leasing__item-img {
	height: 150px;
	width: 100%;
}
.why-leasing__item-title {
	font-size: 24px;
	font-weight: 700;
	margin: 30px 0;
}
.why-leasing__item-text {
	text-align: left;
}
/*--------------------------------------------*/
.how-does-work {
	margin-top: 150px;
}
.how-does-work__inner {
	max-width: 600px;
	margin: 0 auto;
}
.how-does-work__title {
	margin-top: 50px;
	font-size: 24px;
	font-weight: 700;
}
/*--------------------------------------------*/
.how-it-works__list {
	padding-left: 70px;
	margin: 50px 0 70px;
	list-style: none;
	counter-reset: myCounter;
}
.how-it-works__item {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	max-width: 510px;
	gap: 140px;
	counter-increment: myCounter;
}
.how-it-works__item + .how-it-works__item {
	margin-top: 40px;
}
.how-it-works__item span::before {
	content: counter(myCounter);
	display: inline-flex;
	align-items: center;
	justify-content: center;
	font-size: 48px;
	font-weight: 700;
	background-color: #06f;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	color: white;
}
/*--------------------------------------------*/
.video {
	margin-top: 150px;
}
.video__title {
	text-transform: uppercase;
	margin-bottom: 20px;
}
.video__text {
	text-align: center;
	margin-bottom: 50px;
	font-size: 24px;
	font-weight: 700;
}
.video__content {
	padding: 0 100px;
	display: block;
	object-fit: cover;
	width: 100%;
	height: 500px;
}
/*--------------------------------------------*/
.important-things {
	margin: 150px 0;
}
.important-things__title {
	margin-bottom: 20px;
}
.important-things__text {
	margin: 0 auto 50px;
	max-width: 580px;
}
.important-things__list {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 40px;
}
.important-things__img {
	margin-bottom: 20px;
}
/*--------------------------------------------*/
.contacts {
	margin-top: 100px;
}
.contacts__title {
	margin-bottom: 20px;
}
.contacts__text {
	text-align: center;
	font-size: 24px;
	font-weight: 700;
	padding: 0 130px;
	margin-bottom: 50px;
}
.contacts__form {
	margin: 0 auto;
	max-width: 580px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.form__input {
	display: inline-block;
	width: 270px;
	font-family: 'Inter', sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.3;
	padding: 18px 20px;
	border: 1px solid #0066ff;
	color: #000;
	border-radius: 4px;
}
.form__textarea::placeholder,
.form__input::placeholder {
	font-family: 'Inter', sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.3;
	color: #000;
	opacity: 0.5;
}
.form__textarea {
	margin: 50px 0;
	padding: 28px 20px;
	width: 100%;
	height: 290px;
	border: 1px solid #0066ff;
	resize: none;
	font-family: 'Inter', sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.3;
	color: #000;

	border-radius: 4px;
}
.form__btn {
	font-family: 'Inter', sans-serif;
	font-size: 16px;
	font-weight: 400;
	text-transform: uppercase;
	color: #fff;
	background-color: #151515;
	margin: 0 auto;
	padding: 12px 60px;
}
/*--------------------------------------------*/
.articles {
	margin: 150px 0;
}
.article__items {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 40px;
	margin-bottom: 70px;
}
.article__item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}
.article__item-img {
	width: 100%;
	margin-bottom: 30px;
}
.article__item-title {
	flex-basis: 446px;
	font-size: 24px;
	font-weight: 700;
}
.article__item-link {
	color: #fff;
	background-color: #06f;
	padding: 4px 20px;
}
.show-more__link {
	display: block;
	text-transform: uppercase;
	color: #fff;
	background-color: #151515;
	padding: 12px;
	width: 225px;
	text-align: center;
	margin: 0 auto;
}
/*--------------------------------------------*/
.choose-car {
	margin-top: 100px;
}
.tabs__btn {
	display: flex;
	justify-content: center;
	gap: 80px;
	margin-bottom: 100px;
}
.tabs__btn-item {
	font-family: 'Inter', sans-serif;
	font-size: 24px;
	font-weight: 700;
	cursor: pointer;
	border: none;
	background-color: transparent;
	padding: 0;
}
.tabs__btn-item--active {
	color: #0066ff;
}
.tabs__content {
	margin-bottom: 70px;
}
.tabs__content-item {
	display: none;
	grid-template-columns: repeat(4, 1fr);
	gap: 100px 40px;
}
.tabs__content-item.tabs__content-item--active {
	display: grid;
}
.tabs__card {
	max-width: 270px;
	display: flex;
	flex-direction: column;
	text-align: center;
	gap: 20px;
	border: 1px solid #0066ff;
}
.tabs__card-img {
	display: block;
	border-bottom: 1px solid #0066ff;
	height: 170px;
}
.tabs__card-title {
	font-size: 24px;
	font-weight: 700;
}
.tabs__card-price {
	font-size: 24px;
	font-weight: 700;
}
.tabs__card-link {
	padding: 4px 0;
	color: #0066ff;
	border-top: 1px solid #0066ff;
}
/*! Main Finish */

/*! Footer Start */
.footer {
	padding: 50px 0 32px;
	background-color: #151515;
	color: #fff;
}

.footer__menu {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	margin-bottom: 50px;
}

.footer__menu-list {
	width: 225px;
}

.footer__menu-item {
	margin-bottom: 20px;
}

.footer__menu-item:last-of-type {
	margin-bottom: 0;
}

.footer__menu-title {
	font-weight: 700;
	font-size: 24px;
	margin-bottom: 40px;
}
/*! Footer Finish */

/*! App Start */
.app {
	display: flex;
	justify-content: center;
	gap: 40px;
	margin-bottom: 50px;
}
/*! App Finish */

/*! Footer copy Start */
.footer__copy {
	max-width: 800px;
	margin: 0 auto 30px;
	text-align: center;
}

.footer__copy-text {
	font-size: 12px;
}
/*! Footer copy Finish */

/*! Copy navigation Start*/
.copy__nav-list {
	display: flex;
	justify-content: center;
	gap: 40px;
}
/*! Copy navigation Finish*/

/*! Adaptive page*/

@media (max-width: 1240px) {
	.video__content {
		padding: 0 40px;
	}
	.important-things__list {
		gap: 20px;
	}
	.important-things__img {
		width: 100%;
	}
}

@media (max-width: 860px) {
	.swiper-pagination-bullet {
		width: 100px;
	}
	.header__inner {
		align-items: normal;
	}
	.burger__btn {
		display: flex;
		position: relative;
		z-index: 6;
	}
	.menu__list {
		position: absolute;
		background-color: rgb(21 21 21 / 80%);
		flex-direction: column;
		align-items: center;
		justify-content: center;
		top: 0;
		right: 0;
		height: 100vh;
		padding: 0 40px;
		z-index: 5;
		transform: translateX(100%);
		transition: transform ease 0.6s;
	}
	.menu__list.menu__list--active {
		transform: translateX(0%);
		transition: transform ease 0.6s;
	}
	.why-leasing__list {
		grid-template-columns: repeat(2, 1fr);
		gap: 40px 0;
		justify-items: center;
	}
	.why-leasing__item-img {
		height: 140px;
	}
	.why-leasing__item-title {
		margin: 20px 0;
	}
	.video__content {
		padding: 0;
		height: 420px;
	}
	.important-things__list {
		grid-template-columns: repeat(2, 1fr);
	}
	.top__link {
		padding: 20px;
		max-width: 360px;
		font-size: 30px;
	}
}

@media (max-width: 768px) {
	.footer__menu {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		margin-bottom: 50px;
		gap: 70px 0;
		text-align: center;
		justify-items: center;
	}
	.footer__menu-list {
		width: 220px;
	}
	.footer__copy {
		max-width: 600px;
	}
	.copy__nav-list {
		font-size: 12px;
	}
	.why-leasing__item-img {
		height: 120px;
	}
	.why-leasing__item {
		max-width: 224px;
	}
}
/*----------------------------------------------------*/
